body{
    background-color: rgb(224, 222, 222);
    margin: auto;
    
}
#main-box{
    background-color: rgb(231, 231, 231);
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box1 {
    background-color: rgb(6, 92, 87);
    height: 300px;
    width: 700px;
    border-radius: 10px;
    justify-content: space-between;
    align-self: center;
    margin: auto;

}
.box1 h1{
    text-align: center;
    color:lime;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.text{
    display: flex;
    margin-top: 10%;
}
.text a{
    margin: auto;
    text-decoration: none;
    font-size:larger;
    color: white;
    text-decoration:;
}
