body {
  background-color: #301b1a;
  margin: 0 auto;
}
#navbar {
  background-color: #533261;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
  text-decoration: none;
}
.left h2 {
  color: #ece6fa;
}
.left img {
  height: 50px;
  padding: 10px;
}
.right a {
  color: #ece6fa;
  padding: 10px;
  text-decoration: none;
}
#main-container {
  background-color: #d2d9e9;
  height: 230px;
  margin: 10px 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.box1 {
  background-color: #84e07a;
  height: 180px;
  width: 300px;
  padding: 10px;
  margin: 10px 10px;
}
.box2 {
  background-color: #84e07a;
  height: 180px;
  width: 300px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.second-container {
  background-color: #b94140;
  height: 230px;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
}
.second-box {
  background-color: #dadada;
  height: 220px;
  border: 5px solid #498f29;
}
