body {
  background-color: #3b1e20;
  margin: 0 auto;
}
#navbar {
  background-color: #622954;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
  text-decoration: none;
}
.left img {
  height: 50px;
  padding: 10px;
}
.right a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
#main-container {
  background-color: #c5d1cf;
  height: 230px;
  margin: 10px 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.box1 {
  background-color: #adff30;
  height: 180px;
  width: 300px;
  padding: 10px;
  margin: 10px 10px;
}
.box2 {
  background-color: #adff30;
  height: 180px;
  width: 300px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.second-container {
  background-color: #ff4403;
  height: 230px;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
}
.second-box {
  background-color: #f6ef9f;
  height: 220px;
  border: 5px solid #4d982b;
}
