body {
  margin: 0 auto;
  background-color: #ffffff;
}
nav {
  height: 68px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: #c4c4c4 solid 2px;
}
.left-nav {
  height: 50px;
  float: left;
  display: flex;
  background-color: #ffffff;
  align-self: center;
}
.left-nav img {
  height: 40px;
  width: 30px;
  align-self: center;
}
.left-nav h2 {
  color: #5e5e5e;
  padding: 0 8px;
  align-self: center;
}
.right-nav {
  float: right;
  align-self: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.right-nav img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  justify-content: space-between;
}
.main-container {
  background-color: #ffffff;
  display: flex;
}
.side-container {
  background-color: #ffffff;
  height: 600px;
  width: calc(13%);
  padding: 10px;
  float: left;
  border-right: #c4c4c4 solid 2px;
}
img,
i {
  height: 30px;
  width: 30px;
  float: left;
  margin-top: 9px;
  margin-right: 5px;
  line-height: 28px;
}
.flex {
  margin-right: 20px;
  margin-top: -5px;
}
li {
  padding-left: 20px;
  padding-bottom: 0px;
  color: #55533a;
}
li h4 {
  display: flex;
  text-align: center;
  padding-top: 8px;
}
ul {
  padding: 0px;
}
a {
  color: #5e5e5e;
}
.right-container {
  background-color: #ffffff;
  width: 100%;
}
.second-nav {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  float: left;
  display: flex;
  padding: 10px;
  align-self: center;
}
.nav2-left {
  margin-left: 4%;
  text-decoration: underline;
}
.nav2-right {
  padding: 10px;
  align-self: center;
  margin-left: 75%;
}
.nav2-right {
  padding: 10px;
  background-color: #3fb98c;
  color: #ffffff;
  border: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
tr,
td,
th {
  border: 1px solid #e6e6e6;
  tab-size: 20px;
  text-align: center;
  padding: 15px;
}
table {
  align-self: center;
  width: 91%;
  margin-left: 5%;
  border-collapse: collapse;
}
@media only screen and (max-width: 770px) {
  .side-container {
    display: none;
    width: 0px;
  }
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .main-table {
    overflow: auto;
    justify-content: center;
    width: 100%;
    align-self: center;
  }
  .nav2-right {
    margin-left: 45%;
  }
  button {
    width: 25vw;
  }
}
