body {
  margin: 0 auto;
  background-color: #eeeee4;
}
nav {
  height: 75px;
  background-color: #55533a;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: #eeeee4 solid 1px;
}
.left {
  height: 50px;
  float: left;
  display: flex;
  background-color: #55533a;
  align-self: center;
}
.left img {
  height: 40px;
  width: 40px;
  align-self: center;
}
.left h2 {
  color: white;
  padding: 0 8px;
  align-self: center;
}
.right {
  float: right;
  align-self: center;
  justify-content: space-between;
  background-color: #55533a;
}
.right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  justify-content: space-between;
}
.main-container {
  background-color: #eeeee4;
  display: flex;
}
.side-container {
  background-color: #55533a;
  height: 600px;
  width: calc(13%);
  padding: 10px;
  float: left;
}
.side-list {
  color: #30b683;
  text-decoration: none;
  font-size: 20px;
}
li {
  padding-left: 30px;
  padding-bottom: 20px;
  color: #55533a;
}
ul {
  padding: 0;
}
a {
  color: #fff;
}
.dash {
  float: left;
  padding-left: 10px;
  padding-top: 18px;
  text-decoration: underline;
}
.tile {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 10px;
}
/*.side-container .box {
  background-color: #c5d1cf;
  margin: 100px 10px 0 10px;
  margin-right: 20px;
  display: flex;
} */
.box-1 {
  background-color: #0cabff;
  height: 150px;
  width: calc(25%);
  text-align: center;
  justify-content: center;
  position: relative;
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0;
}
.box-2 {
  background-color: #ff3e0b;
  height: 150px;
  width: calc(25%);
  color: #fff;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;
}
.box-3 {
  background-color: #ae1eef;
  height: 150px;
  width: calc(25%);
  text-align: center;
  color: #fff;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;
}
.box-4 {
  background-color: #1de757;
  height: 150px;
  width: calc(25%);
  text-align: center;
  justify-content: center;
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
}
.chart {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 10px;
}
.one {
  background-color: #ff3e0b;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.one h4 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 18px;
  text-align: center;
}
.two {
  background-color: #0cabff;
  height: 190px;
  width: 190px;
  border-radius: 59%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.two h4 {
  display: flex;
  text-align: center;
  padding: 55px;
}
.three {
  background-color: #ae1eef;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.three h4 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 35px;
  text-align: center;
}
.innerthree {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #1de757;
}
.innertwo {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #fff;
}
.innerone {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #fd6a56;
}
.inner {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #ae1eef;
}
.bar-container {
  height: 190px;
  width: 190px;
  float: left;
  margin: 50px 50px 0px 50px;
  border-bottom: #574c4a 8px solid;
  background-color: #eeeee4;
}
/*.bar1{
    height: 8px ;
    width: 200px;
    margin: 0px;
    float: left;
    background-color: #574C4A;
}*/
.bar2 {
  height: 180px;
  width: 8px;
  float: left;
  margin: 0px;
  margin-top: 10px;
  background-color: #1de757;
}
.bar3 {
  height: 100px;
  width: 8px;
  margin: 10px;
  margin-top: 90px;
  float: left;
  background-color: #ff3e0b;
}
.bar4 {
  height: 120px;
  width: 8px;
  margin: 10px;
  margin-top: 70px;
  float: left;
  background-color: #ae1eef;
}
.bar5 {
  height: 70px;
  width: 8px;
  margin: 10px;
  margin-top: 120px;
  float: left;
  background-color: #0cabff;
}
.bar6 {
  height: 150px;
  width: 8px;
  margin: 10px;
  margin-top: 40px;
  float: left;
  background-color: #584c4a;
}
.bar7 {
  height: 50px;
  width: 8px;
  margin: 10px;
  margin-top: 140px;
  float: left;
  background-color: #fd6a56;
}
